<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplyChoiceChangesInFileKey</key>
	<string>XSanChoice.xml</string>
	<key>Package</key>
	<string>Install Xsan.mpkg</string>
	<key>Target</key>
	<string>/</string>
</dict>
</plist>

